@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #0070f3;
}

.dark {
  --background: #18181b;
  --foreground: #f5f5f5;
  --primary: #1e90ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
